# The next variables help templating the docker-compose.yml file.
#
# Consider putting here your secrets with dummy values and variables you want to
# reuse in two or more services.

APP_NAME="Symfony NuxtJS"

# Domain
DOMAIN=symfony-nuxtjs.localhost
API_SUBDOMAIN=api

# API
APP_SECRET=$ecretf0rt3st

# MySQL
MYSQL_ROOT_PASSWORD=super-secret
MYSQL_DATABASE=symfony-nuxtjs
MYSQL_USER=api-agent
MYSQL_PASSWORD=secret

# Redis
REDIS_PASSWORD=secret

# i18n
DEFAULT_LOCALE=fr

# XDebug
XDEBUG_MODE=debug,coverage